{% include 'header.html' %}
<div class="container">
   <div class="row">
     <div class="col-lg-1"></div>
       <div class="col-lg-7 text-center panel">
       <h2>访问出错&nbsp;&nbsp;&nbsp;&nbsp;<strong style="color:#1f6692">500</strong>&nbsp;</h2></div>
  </div>
</div>
<div class="text-center" style="padding-bottom:10px;">
<p><a href="http://read.nicksite.me/">每日阅读</a> &middot; &copy; 2014 &middot;&nbsp;<a class="hidden-xs hidden-sm"data-toggle="modal" data-target="#myModal" >关于</a></p>
<p>本网站数据来源于互联网，版权归原出处网站所有。</p>
 <script src="http://static-nicksite-cdn.b0.upaiyun.com/static/js/jquery.min.js"></script>
  <script src="http://static-nicksite-cdn.b0.upaiyun.com/static/js/bootstrap.min.js"></script>
</div>
</body>
</html> 
