{% include 'header.html' %}
<div class="container">
 <div class="row" style="padding-bottom:5%;">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12"> 
    <div class="text-center panel"><h2 style='color:#1f6692;'>{{article}}</h2></div>
   {% for c in content%}       
    <div id="div{{forloop.counter}}"class="panel panel-info panel-body" data-href="/article/{{c.id}}/">
    <div style="margin-bottom:10px;">
      <h4 style="padding:0"><a href="/article/{{c.id}}/" style="color:#1f6692;">{{c.title}}</a></h4>
       <small style="color:#A36D6D;">{{c.pubdate}}
     </small>
     </div>
       <div class="brief-img">{{c.brief|safe}}</div>
     <a href="/article/{{c.id}}/" class="hidden-xs hidden-sm" style="float:right;clear:both">阅读<i class="glyphicon glyphicon-eye-open"></i></a>
      </div>
     {% endfor %} 
     <div id="scrollText"></div>
     </div>  
  </div>
</div>
{% include 'footer.html' %}
<script src="http://static-nicksite-cdn.b0.upaiyun.com/static/js/ajax_2.min.js"></script>
  </body>
</html>