  <button class="scroll-top hidden-xs" style="display:none"><i class="glyphicon glyphicon-chevron-up"></i></button>
<div class="text-center" style="padding-bottom:20px;">
<p><a href="http://read.nicksite.me/">每日阅读</a> &middot; &copy; 2014 &middot;&nbsp;<a class="hidden-xs hidden-sm"data-toggle="modal" data-target="#myModal" >关于</a></p>
<p>网站内容来源于原网站rss，旨在分享手机客户端的电脑版，版权归原作者所有。</p>
</div>

  <script src="http://read.nicksite.me/static/js/jquery.min.js"></script>
  <script src="http://read.nicksite.me/static/js/bootstrap.min.js"></script>
  <script src="http://read.nicksite.me/static/js/mystyle.min.js"></script>
  </body>
</html>