{% include 'header.html' %}
<div class="container">
 <div class="row" style="padding-bottom:5%;">
  <div class="col-lg-2"></div>
    <div class="col-lg-7 col-sm-12 col-xs-12">
    <div class="row">
      <div style="padding-bottom:4%;color:#428bca;" class="hidden-xs"> 
      <h1>每日阅读<small>--精选资讯 每日更新 每日阅读 每日精彩 </small></h1>
      </div>
      <div style="color:#428bca" class="biger-a">
       <div class="panel">
       <h4>&nbsp;互联网--<small>关注网上行业高手的优质讨论与最新创业资讯</small></h4>
      <ul>
      <li><a href="/36kr/" >36kr</a></li>
      <li><a href="/huxiu/" >虎嗅网</a></li>
      <li><a href="/geekpark/">极客公园</a></li>
     </ul>
       </div>
       <div class="panel">
       <h4>&nbsp;笑话--<small>每日精品笑话、内涵段子、搞笑趣图、微博漫画、内涵图片</small></h4>
       <ul>
         <li><a href="/qiubai/" >糗事百科</a></li>
         <li><a href="/waduanzi/" >挖段子网</a></li>
       </ul>
       </div>
       <div class="panel">
       <h4>&nbsp;生活--<small>分享生活情感心理文章，感受温暖的声音放松心情。</small></h4>
       <ul>
           <li><a href="/jiaren/" >佳人</a></li>
           <li><a href="/guokr/">果壳网</a></li>
            <li><a href="/xinli/" >壹心理</a></li>
       </ul>
       </div>
  <!--      <div class="panel">
        <h4>&nbsp;豆瓣--<small>豆瓣成员投票选出的最佳影评和最佳书评</small></h4>
       <ul>
         <li><a href="/Dmovie/" >豆瓣影评</a></li>
            <li><a href="/Dbook/" >豆瓣书评</a></li>
       </ul>
       </div>  -->
       <div class="panel">
       <h4>&nbsp;阅读--<small>精选优秀美文，每日一次的阅读之旅，给心灵来次旅行。</small></h4>
      <ul>
        <li><a href="/yige/" >一个</a></li>
            <li><a href="/meiwen/">美文日赏</a></li>
            <li><a href="/zdaily/">知乎日报</a></li>
            <li><a href="/zhihu/" >知乎每日精选</a></li>
            <!-- <li><a href="/yiyan/">译言精选</a></li> -->
            <!--<li><a href="/ndweekly/">南都周刊</a></li>-->
      </ul>
       </div>
       <div class="panel">
       <h4>&nbsp;摄影--<small>同为视觉动物的你！ - 摄影 | 资讯 | 视觉</small></h4>
       <ul> 
          <!-- <li><a href="/qiyu/" >奇遇网</a></li> -->
           <li><a href="/dcmagcn/" >影像视觉</a></li>
            <li><a href="/letsfilm/" >胶片的味道</a></li>
            <li><a href="/imgii/" >IMGII在线视觉</a></li>
            <li><a href="/fotofeel/" >Fotofeel 私摄影</a></li>
       </ul>
       </div>
       <div class="panel">
       <h4>&nbsp;电影--<small>欧美、国内、港台、日韩最新上映电影的影评，收录历史影评记录。</small></h4>
       <ul>
           <li><a href="/yp136/" >影评网</a></li>
          <!-- <li><a href="/seemovie/" >看电影</a></li> -->
            <li><a href="/cinephi/" >Cinephilia迷影</a></li>  
       </ul>
       </div>
      </div>
    </div>
    </div>
   </div>
  </div>
{% include 'footer.html' %}

</body>
</html>  