body{
    font-family:微软雅黑,sans-serif;
    padding-top: 28px;
    background-image: url('http://static-nicksite-cdn.b0.upaiyun.com/static/img/geometry2.png');
    font-size: 16px;
    line-height: 1.6;
  }
h4{
  font-size:20px;
  padding:5px;
}
.navbar-self{
    background-color: #1f6692;
    opacity: 0.9;
}
.navbar a{
  color:#fff;
  font-size: 18px;
}
.panel a{
  color: #1f6692;
}
.biger-a li a{
  font-size: 18px;
}
.nav li a:hover{
  background-color: #4086A7;
} 
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background-color: #4086A7;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
  color:#F5EFEF;
}
nav .title{
  font-size: 24px;
  font-family: 微软雅黑;
}
.navbar-toggle .icon-bar{
  background-color:#fff;
}
.navbar-toggle{
  border:1px solid white;
}
.main-content{
        margin: 0;
        display:none;
        font-family:黑体;
        line-height:1.6;
        font-size: 16px;
}
.modal-body{
   background-color:#1f6692;
   color:#fff;
   opacity: 0.9;
}
img{
    width:auto !important;
        max-width: 100% !important;
        height:auto !important;
}
video,iframe{
  max-width: 100% !important;
}
.btn-self{
     border-radius: 6px 12px;
     font-size: 16px;
     background: #428bca;
     border-color: #428bca;
     font-family:黑体;
     color: #fff;
     float:right;
     clear:both;
}
.scroll-top {
   position:fixed;
   bottom:50px;
   right:8%;
   z-index:100;
   background:#1f6692;
   border-color: #bce8f1;
   border: 1px solid transparent;
   opacity: 0.9;
   font-size:24px;
   padding:0 6px 0 6px;
   color:#fff;
  }
  .panel{
    margin-bottom: 10px;
  }
  .panel-info{
    border: 1px solid #ddd;
  }
  .brief-img img{
    max-width:40% !important;
    height:auto !important;
    float: right;
    padding-left: 5px;
  }
  @media screen and (max-device-width:512px){
   /* body{
      font-size: 14px;
      line-height: 1.5;
    }*/
    h1{
    font-size: 22px;
    font-weight: bold;
   }
   h2{
    font-size: 18px;
    font-weight: bold;
   }
   h3{
    font-size: 16px;
    font-weight: bold;
   }
    h4{
      margin-bottom:2%;
      font-size: 18px;
    font-weight: bold;
    }
    video,iframe{
    width:auto !important;
        max-width: 100% !important;
        height:auto !important;
    }
  .dropdown-menu li a{
      color:#99E48F;
      margin-left:8%;
    }
   .panel{
    margin-bottom: 5px;
    padding: 5px;
    margin-left:-10px;
    margin-right: -10px;
    border-color:#bce8f1;
   }
  .avatar{
    width:auto;
   }
  /*.main-content{
    font-size: 14px;
  }*/
  .btn-self{
    font-size: 10px;
    border-radius: 6px;     
  }
  nav .title{
    font-size: 22px;
  }
}