body{
		font-family:微软雅黑,sans-serif;
		padding-top: 70px;
	}
h4{
	font-size:20px;
	padding:5px;
}
.navbar-self{
    background-color:#428bca;
    opacity: 0.9;
}
.navbar a{
	color:#fff;
  font-size: 18px;
}
.biger-a li a{
  font-size: 18px;
}
.nav li a:hover{
	background-color: #007ACF;
} 
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color: #007ACF;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	color:#F5EFEF;
}
nav .title{
	font-size: 24px;
	font-family: 微软雅黑;
}
.navbar-toggle .icon-bar{
	background-color:#fff;
}
.navbar-toggle{
	border:1px solid white;
}
.main-content{
        margin: 0;
        display:none;
        font-family:黑体;
        line-height:1.6;
        font-size: 16px;
}
.modal-body{
   background-color:#3C90AA;
   color:#fff;
}
img{
		width:auto;
        max-width: 100%;
        height:auto;
}
video,iframe{
	max-width: 100%;
}
.btn-self{
	   border-radius: 6px 12px;
	   font-size: 16px;
	   background: #428bca;
     border-color: #428bca;
	   font-family:黑体;
	   color: #fff;
	   float:right;
	   clear:both;
}
.scroll-top {
   position:fixed;
   bottom:0;
   right:5%;
   z-index:100;
   background:#428bca;
   border-color: #bce8f1;
   border: 1px solid transparent;
   opacity: 0.9;
   font-size:24px;
   padding: 6px;
   color:#fff;
  }
  @media screen and (max-device-width:768px){
  	body{
  		padding-top: 40px;
  	}
  	h1{
		font-size: 22px;
    font-weight: bold;
	 }
	 h2{
		font-size: 18px;
    font-weight: bold;
	 }
   h3{
    font-size: 16px;
    font-weight: bold;
   }
  	h4{
  		margin-bottom:2%;
  		font-size: 18px;
    font-weight: bold;
  	}
  	video,iframe{
		width:auto;
        max-width: 100%;
        height:auto;
    }
  .dropdown-menu li a{
    	color:#99E48F;
    	margin-left:8%;
    }
   .panel-body{
    padding: 5px;
    margin-left:-10px;
    margin-right: -10px;
   }
	.avatar{
		width:auto;
	 }
  .main-content{
    font-size: 14px;
  }
	.btn-self{
		font-size: 10px;
		border-radius: 6px;     
	}
	nav .title{
		font-size: 22px;
	}
}